/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');


@import url('components/card.css');
@import url('components/button.css');
@import url('components/banner.css');

/* Utilities */
:root {
  background-color: #ebf7ff;
}

body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.container {
  width: 750px;
  margin: 0px auto;
}

.image-background {
  background-size: cover;
  background-position: center;
}

.logos {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.logos i {
  font-size: 16pt;
}

.footer {
  justify-content: center;
  text-align: center;
  margin-top: 32px;
  padding: 32px 0;
  background-color: #630a16;
  color: #ebf7ff;
}
