.card {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  background-color: antiquewhite;
  box-shadow: 5px 5px 15px #87c7bf;
}

.card .image-background {
  height: 150px;
  width: 200px;
}

.cards {
  display: flex;
  gap: 16px;
}

.card p, .card h3 {
  margin: 5px;
}
